<div>
    <img id="logoImage" class="w-50 h-20 cursor-pointer hidden md:block" src="/assets/images/logo.png">
</div>
<nav class="items-center justify-between hidden gap-12 text-black lg:flex">
    <a class="nav-link" href="/index.html">Home</a>
    <a class="nav-link" href="/pages/service/profile.html">My profile</a>
    <a class="nav-link" href="/pages/service/create_course_page.html">Create a new course</a>
</nav>

<div class="items-center hidden gap-12  lg:flex">
    <div class="relative">
        <input id="header-search-input" type="text" placeholder="Search a course"
               class="mr-2 px-4 pr-10 text-sm border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-purple-blue-300 focus:border-purple-blue-500 transition duration-300">
        <button id="header-search-btn" type="button" class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-purple-blue-600 transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>
    <a class="custom-small-btn" href="/pages/auth/login.html">Log in</a>
    <a class="custom-small-btn" href="/pages/auth/register.html">Sign Up</a>
    </button>
</div>
<!-- Under the small screen device, the page will render a "hamburger" button. -->
<button onclick="(() => { this.closest('.group').classList.toggle('open')})()" class="flex  lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5196 22 17.2652 22 17C22 16.7348 21.8946 16.4804 21.7071 16.2929C21.5196 16.1054 21.2652 16 21 16ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z"
              fill="black"></path>
    </svg>
</button>
<nav class="absolute flex lg:hidden transition-all duration-300 ease-in-out flex-col items-start
            shadow-main justify-center w-[95%] gap-3 overflow-hidden bg-white max-h-0 group-[.open]:py-6 px-4 rounded-2xl group-[.open]:max-h-[500px] top-[120%] mt-2 z-50 left-1/2 -translate-x-1/2">
    <div class="relative w-full">
        <input id="header-search-input-mobile" type="text" placeholder="Search..."
               class="w-full py-2 px-4 pr-10 text-sm border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-purple-blue-300 focus:border-purple-blue-500 transition duration-300">
        <button id="header-search-btn-mobile" type="button" class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-purple-blue-600 transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>
    <a class="nav-link" href="/index.html">Home</a>
    <a class="nav-link" href="/pages/service/profile.html">My profile</a>
    <a class="nav-link" href="/pages/service/create_course_page.html">Create a new course</a>
    <button class="custom-small-btn" href="/pages/auth/login">Login in</button>
    <button class="custom-small-btn" href="/pages/auth/register">Sign Up</button>
</nav>