<!-- Notice ： All of these modules must import <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css" rel="stylesheet">in your header label for using. -->

<!-- insert search bar -->
<div >
    <input type="text" placeholder="Search a course" class="mr-2 px-4 pr-10 text-sm border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-purple-blue-300 focus:border-purple-blue-500 transition duration-300">
    <button class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-purple-blue-600 transition duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </button>
</div>



